In [89]:
import pandas as pd

# 컬럼 rename

In [90]:
# 관공서
office = pd.read_csv(r'C:\Users\admin\Desktop\electric_charging_hj\res\관공서현황.csv', index_col=0)
office.head()

   소재지명                       도로명         위도          경도 시설구분
0  용인시청     경기도 용인시 처인구 중부대로 1199  37.240608  127.177294  관공서
1  처인구청        경기도 용인시 처인구 금령로 50  37.234474  127.201408  관공서
2   포곡읍   경기도 용인시 처인구 포곡읍 포곡로 258  37.277715  127.230957  관공서
3   모현읍  경기도 용인시 처인구 모현면 독점로 31-6  37.329479  127.242276  관공서
4   남사면    경기도 용인시 처인구 남사면 내기로 22  37.115301  127.150214  관공서

In [91]:
office.rename(columns={'소재지명':'place'}, inplace=True)
office.head()

  place                       도로명         위도          경도 시설구분
0  용인시청     경기도 용인시 처인구 중부대로 1199  37.240608  127.177294  관공서
1  처인구청        경기도 용인시 처인구 금령로 50  37.234474  127.201408  관공서
2   포곡읍   경기도 용인시 처인구 포곡읍 포곡로 258  37.277715  127.230957  관공서
3   모현읍  경기도 용인시 처인구 모현면 독점로 31-6  37.329479  127.242276  관공서
4   남사면    경기도 용인시 처인구 남사면 내기로 22  37.115301  127.150214  관공서

In [92]:
office_df = pd.read_csv(r'C:\Users\admin\Desktop\electric_charging_hj\res\관공서점수.csv', index_col=0)
office_df.head()

  office_name  5_score  4_score  3_score  2_score  1_score  Total
0         구갈동       13       17       11       23       37    249
1         구성동       19       27       32       25       32    381
2        기흥구청       20       39       36       31       66    492
3         기흥동        2        2       15        2       10     77
4         남사면        0        0        0        0        0      0

In [93]:
office_df.rename(columns={'office_name':'place'}, inplace=True)
office_df.head()

  place  5_score  4_score  3_score  2_score  1_score  Total
0   구갈동       13       17       11       23       37    249
1   구성동       19       27       32       25       32    381
2  기흥구청       20       39       36       31       66    492
3   기흥동        2        2       15        2       10     77
4   남사면        0        0        0        0        0      0

In [94]:
office_df_merge = pd.merge(office, office_df, on='place', how='inner')
office_df_merge.head()

,place,도로명,위도,경도,시설구분,5_score,4_score,3_score,2_score,1_score,Total
0,용인시청,경기도 용인시 처인구 중부대로 1199,37.240608,127.177294,관공서,6,14,5,21,7,150
1,처인구청,경기도 용인시 처인구 금령로 50,37.234474,127.201408,관공서,52,39,25,15,32,553
2,포곡읍,경기도 용인시 처인구 포곡읍 포곡로 258,37.277715,127.230957,관공서,5,1,10,2,8,71
3,모현읍,경기도 용인시 처인구 모현면 독점로 31-6,37.329479,127.242276,관공서,7,2,6,0,7,68
4,남사면,경기도 용인시 처인구 남사면 내기로 22,37.115301,127.150214,관공서,0,0,0,0,0,0

In [95]:
# 숙박업체
hotel = pd.read_csv(r'C:\Users\admin\Desktop\electric_charging_hj\res\숙박업소현황.csv', index_col=0)
hotel.head()

       소재지명                        도로명         위도          경도  시설구분
0     오스카호텔   경기도 용인시 처인구 금령로90번길 3-10  37.235014  127.206837  숙박업소
1     호텔 M7      경기도 용인시 기흥구 갈천로7번길 51  37.270378  127.105043  숙박업소
2  (주)더숨디앤씨    경기도 용인시 처인구 포곡읍 성산로 633  37.286798  127.208289  숙박업소
3       양지장  경기도 용인시 처인구 양지면 양지로 142-5  37.234053  127.284065  숙박업소
4    레미니스호텔       경기도 용인시 기흥구 기흥단지로 53  37.225792  127.104464  숙박업소

In [96]:
hotel.rename(columns={'소재지명':'place'}, inplace=True)
hotel.head()

      place                        도로명         위도          경도  시설구분
0     오스카호텔   경기도 용인시 처인구 금령로90번길 3-10  37.235014  127.206837  숙박업소
1     호텔 M7      경기도 용인시 기흥구 갈천로7번길 51  37.270378  127.105043  숙박업소
2  (주)더숨디앤씨    경기도 용인시 처인구 포곡읍 성산로 633  37.286798  127.208289  숙박업소
3       양지장  경기도 용인시 처인구 양지면 양지로 142-5  37.234053  127.284065  숙박업소
4    레미니스호텔       경기도 용인시 기흥구 기흥단지로 53  37.225792  127.104464  숙박업소

In [97]:
hotel_df = pd.read_csv(r'C:\Users\admin\Desktop\electric_charging_hj\res\숙박업체점수.csv', index_col=0)
hotel_df

            hotel_name  5_score  4_score  3_score  2_score  1_score  Total
0             (주)더숨디앤씨        4        2        2        2        7     45
1    (주)청송네트웍스(더트리니호텔)        5       16       11       22       14    180
2               G(지)호텔       26       36       43       51       35    540
3                   G7       13        5       14        5        8    145
4                  G모텔       20       34       28       46       80    492
..                 ...      ...      ...      ...      ...      ...    ...
194              홍실여인숙       15        4       14        4        6    147
195              휘닉스모텔       24       12       30        9       21    297
196          힐(HILL)모텔        5        5       13        3        8     98
197               힐탑여관        0        0        0        0        0      0
198                힐호텔       26       38       46       51       35    557

[199 rows x 7 columns]

In [98]:
hotel_df.rename(columns={'hotel_name':'place'}, inplace=True)
hotel_df.head()

               place  5_score  4_score  3_score  2_score  1_score  Total
0           (주)더숨디앤씨        4        2        2        2        7     45
1  (주)청송네트웍스(더트리니호텔)        5       16       11       22       14    180
2             G(지)호텔       26       36       43       51       35    540
3                 G7       13        5       14        5        8    145
4                G모텔       20       34       28       46       80    492

In [99]:
hotel_df_merge = pd.merge(hotel, hotel_df, on='place', how='inner')
hotel_df_merge.head()

,place,도로명,위도,경도,시설구분,5_score,4_score,3_score,2_score,1_score,Total
0,오스카호텔,경기도 용인시 처인구 금령로90번길 3-10,37.235014,127.206837,숙박업소,32,17,26,10,23,349
1,호텔 M7,경기도 용인시 기흥구 갈천로7번길 51,37.270378,127.105043,숙박업소,16,19,25,41,51,364
2,(주)더숨디앤씨,경기도 용인시 처인구 포곡읍 성산로 633,37.286798,127.208289,숙박업소,4,2,2,2,7,45
3,양지장,경기도 용인시 처인구 양지면 양지로 142-5,37.234053,127.284065,숙박업소,8,10,9,6,0,119
4,레미니스호텔,경기도 용인시 기흥구 기흥단지로 53,37.225792,127.104464,숙박업소,1,4,3,5,8,48

In [100]:
# 아파트 주차장
aptP = pd.read_csv(r'C:\Users\admin\Desktop\electric_charging_hj\res\아파트주차장.csv', index_col=0)
aptP.head()

          소재지명                     도로명         위도          경도    시설구분
0  역북신원아침도시아파트      경기도 용인시 처인구 낙은로 11  37.241478  127.196213  아파트주차장
1      양지포레스토리      경기도 용인시 처인구 은이로 85  37.218570  127.277012  아파트주차장
2   양우내안애에듀퍼스트  경기도 용인시 처인구 경안천로 196-1  37.244875  127.214471  아파트주차장
3    힉스유타워 아파트    경기도 용인시 기흥구 중부대로 184  37.265365  127.100578  아파트주차장
4   성복역 KCC스위첸     경기도 용인시 수지구 성복1로 62  37.317501  127.065322  아파트주차장

In [101]:
aptP.rename(columns={'소재지명':'place'}, inplace=True)
aptP

               place                     도로명         위도          경도    시설구분
0        역북신원아침도시아파트      경기도 용인시 처인구 낙은로 11  37.241478  127.196213  아파트주차장
1            양지포레스토리      경기도 용인시 처인구 은이로 85  37.218570  127.277012  아파트주차장
2         양우내안애에듀퍼스트  경기도 용인시 처인구 경안천로 196-1  37.244875  127.214471  아파트주차장
3          힉스유타워 아파트    경기도 용인시 기흥구 중부대로 184  37.265365  127.100578  아파트주차장
4         성복역 KCC스위첸     경기도 용인시 수지구 성복1로 62  37.317501  127.065322  아파트주차장
..               ...                     ...        ...         ...     ...
463     죽전7차현대홈타운1단지       경기 용인시 수지구 탄천상로 7  37.332303  127.111260  아파트주차장
464         기흥더샵프라임뷰    경기 용인시 기흥구 구갈로 71-18  37.281678  127.110146  아파트주차장
465       기흥역롯데캐슬스카이     경기 용인시 기흥구 중부대로 375  37.265365  127.100578  아파트주차장
466     힐스테이트 서천 아파트      경기 용인시 기흥구 서천동로 22  37.240313  127.075595  아파트주차장
467  역북2단지 우남퍼스트빌아파트       경기 용인시 처인구 낙은로 59  37.241478  127.196213  아파트주차장

[468 rows x 5 columns]

In [102]:
aptP_df = pd.read_csv(r'C:\Users\admin\Desktop\electric_charging_hj\res\아파트주차장점수.csv', index_col=0)
aptP_df

     apt_parking_name  5_score  4_score  3_score  2_score  1_score  Total
0         e편한세상 수지아파트       54       47       39       65       40    745
1    e편한세상 용인한숲시티 2단지       10       10        0        0       16    106
2    e편한세상 용인한숲시티 5단지       10       10        0        0       16    106
3     e편한세상 용인한숲시티6단지       10       10        0        0       16    106
4      e편한세상용인한숲시티4단지       10       10        0        0       16    106
..                ...      ...      ...      ...      ...      ...    ...
460         힉스유타워 아파트       11       11       21       20       27    229
461         힐스테이트 광교산       26       36       27       27       10    419
462      힐스테이트 구성 아파트       20       26       31       24       31    376
463      힐스테이트 서천 아파트       10       15        3        9       10    147
464           힐스테이트기흥        8       33       36       33       77    423

[465 rows x 7 columns]

In [103]:
aptP_df.rename(columns={'apt_parking_name':'place'}, inplace=True)
aptP_df

                place  5_score  4_score  3_score  2_score  1_score  Total
0         e편한세상 수지아파트       54       47       39       65       40    745
1    e편한세상 용인한숲시티 2단지       10       10        0        0       16    106
2    e편한세상 용인한숲시티 5단지       10       10        0        0       16    106
3     e편한세상 용인한숲시티6단지       10       10        0        0       16    106
4      e편한세상용인한숲시티4단지       10       10        0        0       16    106
..                ...      ...      ...      ...      ...      ...    ...
460         힉스유타워 아파트       11       11       21       20       27    229
461         힐스테이트 광교산       26       36       27       27       10    419
462      힐스테이트 구성 아파트       20       26       31       24       31    376
463      힐스테이트 서천 아파트       10       15        3        9       10    147
464           힐스테이트기흥        8       33       36       33       77    423

[465 rows x 7 columns]

In [104]:
aptP_df_merge = pd.merge(aptP, aptP_df, on='place', how='inner')
aptP_df_merge

,place,도로명,위도,경도,시설구분,5_score,4_score,3_score,2_score,1_score,Total
0,역북신원아침도시아파트,경기도 용인시 처인구 낙은로 11,37.241478,127.196213,아파트주차장,27,27,26,25,21,392
1,양지포레스토리,경기도 용인시 처인구 은이로 85,37.218570,127.277012,아파트주차장,2,3,0,3,0,28
2,양우내안애에듀퍼스트,경기도 용인시 처인구 경안천로 196-1,37.244875,127.214471,아파트주차장,9,1,7,8,10,96
3,힉스유타워 아파트,경기도 용인시 기흥구 중부대로 184,37.265365,127.100578,아파트주차장,11,11,21,20,27,229
4,성복역 KCC스위첸,경기도 용인시 수지구 성복1로 62,37.317501,127.065322,아파트주차장,48,40,20,26,10,522
...,...,...,...,...,...,...,...,...,...,...,...
463,죽전7차현대홈타운1단지,경기 용인시 수지구 탄천상로 7,37.332303,127.111260,아파트주차장,49,50,33,24,37,629
464,기흥더샵프라임뷰,경기 용인시 기흥구 구갈로 71-18,37.281678,127.110146,아파트주차장,36,40,29,39,59,564
465,기흥역롯데캐슬스카이,경기 용인시 기흥구 중부대로 375,37.265365,127.100578,아파트주차장,11,11,21,20,27,229
466,힐스테이트 서천 아파트,경기 용인시 기흥구 서천동로 22,37.240313,127.075595,아파트주차장,10,15,3,9,10,147
467,역북2단지 우남퍼스트빌아파트,경기 용인시 처인구 낙은로 59,37.241478,127.196213,아파트주차장,27,27,26,25,21,392

# 최종 concat

In [108]:
df_score_all = pd.concat([office_df_merge, hotel_df_merge, aptP_df_merge], ignore_index=True)
df_score_all

,place,도로명,위도,경도,시설구분,5_score,4_score,3_score,2_score,1_score,Total
0,용인시청,경기도 용인시 처인구 중부대로 1199,37.240608,127.177294,관공서,6,14,5,21,7,150
1,처인구청,경기도 용인시 처인구 금령로 50,37.234474,127.201408,관공서,52,39,25,15,32,553
2,포곡읍,경기도 용인시 처인구 포곡읍 포곡로 258,37.277715,127.230957,관공서,5,1,10,2,8,71
3,모현읍,경기도 용인시 처인구 모현면 독점로 31-6,37.329479,127.242276,관공서,7,2,6,0,7,68
4,남사면,경기도 용인시 처인구 남사면 내기로 22,37.115301,127.150214,관공서,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
702,죽전7차현대홈타운1단지,경기 용인시 수지구 탄천상로 7,37.332303,127.111260,아파트주차장,49,50,33,24,37,629
703,기흥더샵프라임뷰,경기 용인시 기흥구 구갈로 71-18,37.281678,127.110146,아파트주차장,36,40,29,39,59,564
704,기흥역롯데캐슬스카이,경기 용인시 기흥구 중부대로 375,37.265365,127.100578,아파트주차장,11,11,21,20,27,229
705,힐스테이트 서천 아파트,경기 용인시 기흥구 서천동로 22,37.240313,127.075595,아파트주차장,10,15,3,9,10,147
706,역북2단지 우남퍼스트빌아파트,경기 용인시 처인구 낙은로 59,37.241478,127.196213,아파트주차장,27,27,26,25,21,392

In [109]:
df_score_all = df_score_all.drop_duplicates(['place'])
df_score_all

,place,도로명,위도,경도,시설구분,5_score,4_score,3_score,2_score,1_score,Total
0,용인시청,경기도 용인시 처인구 중부대로 1199,37.240608,127.177294,관공서,6,14,5,21,7,150
1,처인구청,경기도 용인시 처인구 금령로 50,37.234474,127.201408,관공서,52,39,25,15,32,553
2,포곡읍,경기도 용인시 처인구 포곡읍 포곡로 258,37.277715,127.230957,관공서,5,1,10,2,8,71
3,모현읍,경기도 용인시 처인구 모현면 독점로 31-6,37.329479,127.242276,관공서,7,2,6,0,7,68
4,남사면,경기도 용인시 처인구 남사면 내기로 22,37.115301,127.150214,관공서,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
702,죽전7차현대홈타운1단지,경기 용인시 수지구 탄천상로 7,37.332303,127.111260,아파트주차장,49,50,33,24,37,629
703,기흥더샵프라임뷰,경기 용인시 기흥구 구갈로 71-18,37.281678,127.110146,아파트주차장,36,40,29,39,59,564
704,기흥역롯데캐슬스카이,경기 용인시 기흥구 중부대로 375,37.265365,127.100578,아파트주차장,11,11,21,20,27,229
705,힐스테이트 서천 아파트,경기 용인시 기흥구 서천동로 22,37.240313,127.075595,아파트주차장,10,15,3,9,10,147
706,역북2단지 우남퍼스트빌아파트,경기 용인시 처인구 낙은로 59,37.241478,127.196213,아파트주차장,27,27,26,25,21,392

In [110]:
df_score_all = df_score_all.sort_values(by='Total' ,ascending=False)
df_score_all

,place,도로명,위도,경도,시설구분,5_score,4_score,3_score,2_score,1_score,Total
310,서원마을현대홈타운,경기도 용인시 수지구 포은대로 231,37.309279,127.081790,아파트주차장,74,57,58,52,24,900
414,현대성우5차,경기도 용인시 수지구 상현로 119-6,37.309069,127.083888,아파트주차장,77,53,53,53,21,883
350,서원마을3단지아이파크,경기도 용인시 수지구 포은대로 219,37.308109,127.080657,아파트주차장,78,49,57,50,22,879
519,성복역 아이파크,경기도 용인시 수지구 상현로 142,37.311161,127.085425,아파트주차장,67,54,53,57,28,852
413,수지센트럴아이파크,경기도 용인시 수지구 상현로 101,37.306942,127.082519,아파트주차장,75,47,57,47,16,844
...,...,...,...,...,...,...,...,...,...,...,...
5,이동읍,경기도 용인시 처인구 이동면 경기동로 673,37.127460,127.189373,관공서,0,0,0,0,0,0
4,남사면,경기도 용인시 처인구 남사면 내기로 22,37.115301,127.150214,관공서,0,0,0,0,0,0
44,코리아골프빌리지 대우그린카운티,경기도 용인시 기흥구 기흥단지로 415,37.220998,127.137275,숙박업소,0,0,0,0,0,0
161,힐탑여관,경기도 용인시 처인구 이동읍 경기동로 875-1,37.125431,127.207339,숙박업소,0,0,0,0,0,0
58,남사 룸앤텔,경기도 용인시 처인구 남사읍 처인성로 309,37.117537,127.160983,숙박업소,0,0,0,0,0,0

In [112]:
df_score_all.reset_index(drop=True, inplace=True)
df_score_all

,place,도로명,위도,경도,시설구분,5_score,4_score,3_score,2_score,1_score,Total
0,서원마을현대홈타운,경기도 용인시 수지구 포은대로 231,37.309279,127.081790,아파트주차장,74,57,58,52,24,900
1,현대성우5차,경기도 용인시 수지구 상현로 119-6,37.309069,127.083888,아파트주차장,77,53,53,53,21,883
2,서원마을3단지아이파크,경기도 용인시 수지구 포은대로 219,37.308109,127.080657,아파트주차장,78,49,57,50,22,879
3,성복역 아이파크,경기도 용인시 수지구 상현로 142,37.311161,127.085425,아파트주차장,67,54,53,57,28,852
4,수지센트럴아이파크,경기도 용인시 수지구 상현로 101,37.306942,127.082519,아파트주차장,75,47,57,47,16,844
...,...,...,...,...,...,...,...,...,...,...,...
694,이동읍,경기도 용인시 처인구 이동면 경기동로 673,37.127460,127.189373,관공서,0,0,0,0,0,0
695,남사면,경기도 용인시 처인구 남사면 내기로 22,37.115301,127.150214,관공서,0,0,0,0,0,0
696,코리아골프빌리지 대우그린카운티,경기도 용인시 기흥구 기흥단지로 415,37.220998,127.137275,숙박업소,0,0,0,0,0,0
697,힐탑여관,경기도 용인시 처인구 이동읍 경기동로 875-1,37.125431,127.207339,숙박업소,0,0,0,0,0,0
698,남사 룸앤텔,경기도 용인시 처인구 남사읍 처인성로 309,37.117537,127.160983,숙박업소,0,0,0,0,0,0

In [114]:
df_score_all.to_csv('./res/최종가중치_merge.csv')

In [59]:
# merge 전 비교 데이터
# df_score_all

                place 5_score 4_score 3_score 2_score 1_score Total
426         서원마을현대홈타운      74      57      58      52      24   900
665            현대성우5차      77      53      53      53      21   883
425       서원마을3단지아이파크      78      49      57      50      22   879
442          성복역 아이파크      67      54      53      57      28   852
473         수지센트럴아이파크      75      47      57      47      16   844
..                ...     ...     ...     ...     ...     ...   ...
204    한화호텔앤드리조트(주)용인       0       0       0       0       0     0
100          모텔프라쟈하우스       0       0       0       0       0     0
191  코리아골프빌리지 대우그린카운티       0       0       0       0       0     0
190   코리아골프빌리지 기흥아펠바움       0       0       0       0       0     0
67             남사 룸앤텔       0       0       0       0       0     0

[699 rows x 7 columns]