In [1]:
import pandas as pd

# 컬럼 rename

In [2]:
# 관공서
office = pd.read_csv('./res/관공서현황.csv', index_col=0)
office.head()

   소재지명                       도로명         위도          경도 시설구분
0  용인시청     경기도 용인시 처인구 중부대로 1199  37.240608  127.177294  관공서
1  처인구청        경기도 용인시 처인구 금령로 50  37.234474  127.201408  관공서
2   포곡읍   경기도 용인시 처인구 포곡읍 포곡로 258  37.277715  127.230957  관공서
3   모현읍  경기도 용인시 처인구 모현면 독점로 31-6  37.329479  127.242276  관공서
4   남사면    경기도 용인시 처인구 남사면 내기로 22  37.115301  127.150214  관공서

In [3]:
office.rename(columns={'소재지명':'place'}, inplace=True)
office.head()

  place                       도로명         위도          경도 시설구분
0  용인시청     경기도 용인시 처인구 중부대로 1199  37.240608  127.177294  관공서
1  처인구청        경기도 용인시 처인구 금령로 50  37.234474  127.201408  관공서
2   포곡읍   경기도 용인시 처인구 포곡읍 포곡로 258  37.277715  127.230957  관공서
3   모현읍  경기도 용인시 처인구 모현면 독점로 31-6  37.329479  127.242276  관공서
4   남사면    경기도 용인시 처인구 남사면 내기로 22  37.115301  127.150214  관공서

In [4]:
office_df = pd.read_csv('./res/관공서점수_re.csv', index_col=0)
office_df.head()

  office_name  5_score  4_score  3_score  2_score  1_score  Total
0         동백동        5        0        5        5        5     55
1         동부동        5        0        0        0        0     25
2         동천동       10       10        0        5        0    100
3         모현읍        5        0        0        0        0     25
4        상현1동       15        0       15        5        0    130

In [5]:
office_df.rename(columns={'office_name':'place'}, inplace=True)
office_df.head()

  place  5_score  4_score  3_score  2_score  1_score  Total
0   동백동        5        0        5        5        5     55
1   동부동        5        0        0        0        0     25
2   동천동       10       10        0        5        0    100
3   모현읍        5        0        0        0        0     25
4  상현1동       15        0       15        5        0    130

In [6]:
office_df_merge = pd.merge(office, office_df, on='place', how='right')
office_df_merge.head()

,place,도로명,위도,경도,시설구분,5_score,4_score,3_score,2_score,1_score,Total
0,동백동,경기도 용인시 기흥구 동백중앙로 214,37.270539,127.156363,관공서,5,0,5,5,5,55
1,동부동,경기도 용인시 처인구 중부대로 1574,37.232742,127.219142,관공서,5,0,0,0,0,25
2,동천동,경기도 용인시 수지구 신수로783번길 40,37.341641,127.098998,관공서,10,10,0,5,0,100
3,모현읍,경기도 용인시 처인구 모현면 독점로 31-6,37.329479,127.242276,관공서,5,0,0,0,0,25
4,상현1동,경기도 용인시 수지구 상현로 71,37.304595,127.081137,관공서,15,0,15,5,0,130

In [7]:
# 숙박업체
hotel = pd.read_csv('./res/숙박업소현황.csv', index_col=0)
hotel.head()

       소재지명                        도로명         위도          경도  시설구분
0     오스카호텔   경기도 용인시 처인구 금령로90번길 3-10  37.235014  127.206837  숙박업소
1     호텔 M7      경기도 용인시 기흥구 갈천로7번길 51  37.270378  127.105043  숙박업소
2  (주)더숨디앤씨    경기도 용인시 처인구 포곡읍 성산로 633  37.286798  127.208289  숙박업소
3       양지장  경기도 용인시 처인구 양지면 양지로 142-5  37.234053  127.284065  숙박업소
4    레미니스호텔       경기도 용인시 기흥구 기흥단지로 53  37.225792  127.104464  숙박업소

In [8]:
hotel.rename(columns={'소재지명':'place'}, inplace=True)
hotel.head()

      place                        도로명         위도          경도  시설구분
0     오스카호텔   경기도 용인시 처인구 금령로90번길 3-10  37.235014  127.206837  숙박업소
1     호텔 M7      경기도 용인시 기흥구 갈천로7번길 51  37.270378  127.105043  숙박업소
2  (주)더숨디앤씨    경기도 용인시 처인구 포곡읍 성산로 633  37.286798  127.208289  숙박업소
3       양지장  경기도 용인시 처인구 양지면 양지로 142-5  37.234053  127.284065  숙박업소
4    레미니스호텔       경기도 용인시 기흥구 기흥단지로 53  37.225792  127.104464  숙박업소

In [9]:
hotel_df = pd.read_csv('./res/숙박업체점수_re.csv', index_col=0)
hotel_df

    hotel_name  5_score  4_score  3_score  2_score  1_score  Total
0           G7        5        5        5        5        0     70
1          G모텔        5        0        5        5       10     60
2          J모텔        5        0        0        0        0     25
3          M모텔        5       10        5        5       15    105
4       Q(큐)호텔        5        5        0        5        5     60
..         ...      ...      ...      ...      ...      ...    ...
123       장원파크        0        0        0        0        5      5
124      호텔 M7        0        0        0        0        5      5
125       호텔마리        0        0        0        0        5      5
126       호텔카사        0        0        0        0        5      5
127  힐(HILL)모텔        0        0        0        0        5      5

[128 rows x 7 columns]

In [10]:
hotel_df.rename(columns={'hotel_name':'place'}, inplace=True)
hotel_df.head()

    place  5_score  4_score  3_score  2_score  1_score  Total
0      G7        5        5        5        5        0     70
1     G모텔        5        0        5        5       10     60
2     J모텔        5        0        0        0        0     25
3     M모텔        5       10        5        5       15    105
4  Q(큐)호텔        5        5        0        5        5     60

In [11]:
hotel_df_merge = pd.merge(hotel, hotel_df, on='place', how='right')
hotel_df_merge.head()

,place,도로명,위도,경도,시설구분,5_score,4_score,3_score,2_score,1_score,Total
0,G7,경기도 용인시 처인구 포곡읍 전대로78번길 14-6,37.286096,127.217695,숙박업소,5,5,5,5,0,70
1,G모텔,경기도 용인시 기흥구 신갈로58번길 29-7,37.273337,127.108693,숙박업소,5,0,5,5,10,60
2,J모텔,경기도 용인시 처인구 중부대로 1493-5,37.233750,127.209762,숙박업소,5,0,0,0,0,25
3,M모텔,경기도 용인시 기흥구 신갈로58번길 29-21,37.273792,127.108527,숙박업소,5,10,5,5,15,105
4,Q(큐)호텔,경기도 용인시 처인구 포곡읍 전대로110번길 10-3,37.286847,127.215924,숙박업소,5,5,0,5,5,60

In [12]:
# 아파트 주차장
aptP = pd.read_csv('./res/아파트주차장.csv', index_col=0)
aptP.head()

          소재지명                     도로명         위도          경도    시설구분
0  역북신원아침도시아파트      경기도 용인시 처인구 낙은로 11  37.241478  127.196213  아파트주차장
1      양지포레스토리      경기도 용인시 처인구 은이로 85  37.218570  127.277012  아파트주차장
2   양우내안애에듀퍼스트  경기도 용인시 처인구 경안천로 196-1  37.244875  127.214471  아파트주차장
3    힉스유타워 아파트    경기도 용인시 기흥구 중부대로 184  37.265365  127.100578  아파트주차장
4   성복역 KCC스위첸     경기도 용인시 수지구 성복1로 62  37.317501  127.065322  아파트주차장

In [13]:
aptP.rename(columns={'소재지명':'place'}, inplace=True)
aptP

               place                     도로명         위도          경도    시설구분
0        역북신원아침도시아파트      경기도 용인시 처인구 낙은로 11  37.241478  127.196213  아파트주차장
1            양지포레스토리      경기도 용인시 처인구 은이로 85  37.218570  127.277012  아파트주차장
2         양우내안애에듀퍼스트  경기도 용인시 처인구 경안천로 196-1  37.244875  127.214471  아파트주차장
3          힉스유타워 아파트    경기도 용인시 기흥구 중부대로 184  37.265365  127.100578  아파트주차장
4         성복역 KCC스위첸     경기도 용인시 수지구 성복1로 62  37.317501  127.065322  아파트주차장
..               ...                     ...        ...         ...     ...
463     죽전7차현대홈타운1단지       경기 용인시 수지구 탄천상로 7  37.332303  127.111260  아파트주차장
464         기흥더샵프라임뷰    경기 용인시 기흥구 구갈로 71-18  37.281678  127.110146  아파트주차장
465       기흥역롯데캐슬스카이     경기 용인시 기흥구 중부대로 375  37.265365  127.100578  아파트주차장
466     힐스테이트 서천 아파트      경기 용인시 기흥구 서천동로 22  37.240313  127.075595  아파트주차장
467  역북2단지 우남퍼스트빌아파트       경기 용인시 처인구 낙은로 59  37.241478  127.196213  아파트주차장

[468 rows x 5 columns]

In [14]:
aptP_df = pd.read_csv('./res/아파트주자창점수_re.csv', index_col=0)
aptP_df

,apt_parking_name,5_score,4_score,3_score,2_score,1_score,Total
0,갈현마을현대홈타운,15,5,0,5,0,105
1,"강남마을자연앤4,6단지",5,10,5,10,0,100
2,광교경남아너스빌,10,0,5,5,15,90
3,광교마을45단지,5,0,5,5,5,55
4,광교상떼빌파크뷰(구 상현마을성원상떼빌아파트),15,0,5,0,10,100
...,...,...,...,...,...,...,...
435,성현마을광명샤인빌,0,0,0,0,5,5
436,신봉마을자이3차,0,0,0,0,5,5
437,용인 구성역 효성해링턴플레이스,0,0,0,0,5,5
438,우림홀인원,0,0,0,0,5,5
439,이편한세상 용인한숲시티 3단지,0,0,0,0,5,5

In [15]:
aptP_df.rename(columns={'apt_parking_name':'place'}, inplace=True)
aptP_df

,place,5_score,4_score,3_score,2_score,1_score,Total
0,갈현마을현대홈타운,15,5,0,5,0,105
1,"강남마을자연앤4,6단지",5,10,5,10,0,100
2,광교경남아너스빌,10,0,5,5,15,90
3,광교마을45단지,5,0,5,5,5,55
4,광교상떼빌파크뷰(구 상현마을성원상떼빌아파트),15,0,5,0,10,100
...,...,...,...,...,...,...,...
435,성현마을광명샤인빌,0,0,0,0,5,5
436,신봉마을자이3차,0,0,0,0,5,5
437,용인 구성역 효성해링턴플레이스,0,0,0,0,5,5
438,우림홀인원,0,0,0,0,5,5
439,이편한세상 용인한숲시티 3단지,0,0,0,0,5,5

In [16]:
aptP_df_merge = pd.merge(aptP, aptP_df, on='place', how='right')
aptP_df_merge

,place,도로명,위도,경도,시설구분,5_score,4_score,3_score,2_score,1_score,Total
0,갈현마을현대홈타운,경기도 용인시 기흥구 관곡로 16,37.282012,127.107006,아파트주차장,15,5,0,5,0,105
1,"강남마을자연앤4,6단지",경기도 용인시 기흥구 강남동로 43,37.270473,127.131993,아파트주차장,5,10,5,10,0,100
2,광교경남아너스빌,경기도 용인시 수지구 광교마을로 2,37.297037,127.069240,아파트주차장,10,0,5,5,15,90
3,광교마을45단지,경기도 용인시 수지구 광교마을로 11,37.296459,127.071579,아파트주차장,5,0,5,5,5,55
4,광교상떼빌파크뷰(구 상현마을성원상떼빌아파트),경기도 용인시 수지구 상현로 30-10,37.300198,127.077971,아파트주차장,15,0,5,0,10,100
...,...,...,...,...,...,...,...,...,...,...,...
437,성현마을광명샤인빌,경기도 용인시 수지구 디지털벨리로 5,37.327677,127.131910,아파트주차장,0,0,0,0,5,5
438,신봉마을자이3차,경기도 용인시 수지구 신봉1로71번길 25,37.320704,127.078367,아파트주차장,0,0,0,0,5,5
439,용인 구성역 효성해링턴플레이스,경기도 용인시 기흥구 구성로53번길 20,37.296635,127.115956,아파트주차장,0,0,0,0,5,5
440,우림홀인원,경기도 용인시 기흥구 고매로34번길 31,37.228345,127.114457,아파트주차장,0,0,0,0,5,5
441,이편한세상 용인한숲시티 3단지,경기도 용인시 처인구 한숲로 123,37.154057,127.169414,아파트주차장,0,0,0,0,5,5

# 최종 concat

In [26]:
df_score_all = pd.concat([office_df_merge, hotel_df_merge, aptP_df_merge], ignore_index=True)
df_score_all

,place,도로명,위도,경도,시설구분,5_score,4_score,3_score,2_score,1_score,Total
0,동백동,경기도 용인시 기흥구 동백중앙로 214,37.270539,127.156363,관공서,5,0,5,5,5,55
1,동부동,경기도 용인시 처인구 중부대로 1574,37.232742,127.219142,관공서,5,0,0,0,0,25
2,동천동,경기도 용인시 수지구 신수로783번길 40,37.341641,127.098998,관공서,10,10,0,5,0,100
3,모현읍,경기도 용인시 처인구 모현면 독점로 31-6,37.329479,127.242276,관공서,5,0,0,0,0,25
4,상현1동,경기도 용인시 수지구 상현로 71,37.304595,127.081137,관공서,15,0,15,5,0,130
...,...,...,...,...,...,...,...,...,...,...,...
597,성현마을광명샤인빌,경기도 용인시 수지구 디지털벨리로 5,37.327677,127.131910,아파트주차장,0,0,0,0,5,5
598,신봉마을자이3차,경기도 용인시 수지구 신봉1로71번길 25,37.320704,127.078367,아파트주차장,0,0,0,0,5,5
599,용인 구성역 효성해링턴플레이스,경기도 용인시 기흥구 구성로53번길 20,37.296635,127.115956,아파트주차장,0,0,0,0,5,5
600,우림홀인원,경기도 용인시 기흥구 고매로34번길 31,37.228345,127.114457,아파트주차장,0,0,0,0,5,5
601,이편한세상 용인한숲시티 3단지,경기도 용인시 처인구 한숲로 123,37.154057,127.169414,아파트주차장,0,0,0,0,5,5

In [27]:
df_score_all = df_score_all.drop_duplicates(['place'])
df_score_all

,place,도로명,위도,경도,시설구분,5_score,4_score,3_score,2_score,1_score,Total
0,동백동,경기도 용인시 기흥구 동백중앙로 214,37.270539,127.156363,관공서,5,0,5,5,5,55
1,동부동,경기도 용인시 처인구 중부대로 1574,37.232742,127.219142,관공서,5,0,0,0,0,25
2,동천동,경기도 용인시 수지구 신수로783번길 40,37.341641,127.098998,관공서,10,10,0,5,0,100
3,모현읍,경기도 용인시 처인구 모현면 독점로 31-6,37.329479,127.242276,관공서,5,0,0,0,0,25
4,상현1동,경기도 용인시 수지구 상현로 71,37.304595,127.081137,관공서,15,0,15,5,0,130
...,...,...,...,...,...,...,...,...,...,...,...
597,성현마을광명샤인빌,경기도 용인시 수지구 디지털벨리로 5,37.327677,127.131910,아파트주차장,0,0,0,0,5,5
598,신봉마을자이3차,경기도 용인시 수지구 신봉1로71번길 25,37.320704,127.078367,아파트주차장,0,0,0,0,5,5
599,용인 구성역 효성해링턴플레이스,경기도 용인시 기흥구 구성로53번길 20,37.296635,127.115956,아파트주차장,0,0,0,0,5,5
600,우림홀인원,경기도 용인시 기흥구 고매로34번길 31,37.228345,127.114457,아파트주차장,0,0,0,0,5,5
601,이편한세상 용인한숲시티 3단지,경기도 용인시 처인구 한숲로 123,37.154057,127.169414,아파트주차장,0,0,0,0,5,5

In [28]:
df_score_all = df_score_all.sort_values(by='Total' ,ascending=False)
df_score_all

,place,도로명,위도,경도,시설구분,5_score,4_score,3_score,2_score,1_score,Total
70,폴라리스,경기도 용인시 처인구 금령로40번길 16-2,37.233443,127.200324,숙박업소,30,10,5,0,10,215
265,수지벽산2단지,경기도 용인시 수지구 용구대로2771번길 66,37.335536,127.105710,아파트주차장,25,10,5,5,5,195
71,필모텔,경기도 용인시 처인구 중부대로 1412,37.232550,127.200986,숙박업소,30,5,5,0,5,190
67,창원여관,경기도 용인시 처인구 중부대로 1415,37.233027,127.201517,숙박업소,25,5,10,0,10,185
54,썬스테이호텔,경기도 용인시 처인구 중부대로 1399,37.233221,127.199832,숙박업소,25,10,5,0,5,185
...,...,...,...,...,...,...,...,...,...,...,...
151,서울여관,경기도 용인시 처인구 금령로 62,37.234520,127.203234,숙박업소,0,0,0,0,5,5
150,베네치아모텔,경기도 용인시 처인구 양지면 남평로 73-6,37.228669,127.292253,숙박업소,0,0,0,0,5,5
147,게스트하우스포유,경기도 용인시 처인구 금령로 62,37.234520,127.203234,숙박업소,0,0,0,0,5,5
28,원삼면,경기도 용인시 처인구 원삼면 원양로 64,37.165364,127.310379,관공서,0,0,0,0,5,5
601,이편한세상 용인한숲시티 3단지,경기도 용인시 처인구 한숲로 123,37.154057,127.169414,아파트주차장,0,0,0,0,5,5

In [29]:
df_score_all.reset_index(drop=True, inplace=True)
df_score_all

,place,도로명,위도,경도,시설구분,5_score,4_score,3_score,2_score,1_score,Total
0,폴라리스,경기도 용인시 처인구 금령로40번길 16-2,37.233443,127.200324,숙박업소,30,10,5,0,10,215
1,수지벽산2단지,경기도 용인시 수지구 용구대로2771번길 66,37.335536,127.105710,아파트주차장,25,10,5,5,5,195
2,필모텔,경기도 용인시 처인구 중부대로 1412,37.232550,127.200986,숙박업소,30,5,5,0,5,190
3,창원여관,경기도 용인시 처인구 중부대로 1415,37.233027,127.201517,숙박업소,25,5,10,0,10,185
4,썬스테이호텔,경기도 용인시 처인구 중부대로 1399,37.233221,127.199832,숙박업소,25,10,5,0,5,185
...,...,...,...,...,...,...,...,...,...,...,...
592,서울여관,경기도 용인시 처인구 금령로 62,37.234520,127.203234,숙박업소,0,0,0,0,5,5
593,베네치아모텔,경기도 용인시 처인구 양지면 남평로 73-6,37.228669,127.292253,숙박업소,0,0,0,0,5,5
594,게스트하우스포유,경기도 용인시 처인구 금령로 62,37.234520,127.203234,숙박업소,0,0,0,0,5,5
595,원삼면,경기도 용인시 처인구 원삼면 원양로 64,37.165364,127.310379,관공서,0,0,0,0,5,5
596,이편한세상 용인한숲시티 3단지,경기도 용인시 처인구 한숲로 123,37.154057,127.169414,아파트주차장,0,0,0,0,5,5

In [30]:
df_score_all.to_csv('./res/최종가중치_merge_re.csv')